<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwtx.mapper.WwtxArticleImgMapper" >
  <resultMap id="WwtxArticleImgResultMap" type="com.wwtx.model.WwtxArticleImg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="artid" property="artid" jdbcType="INTEGER" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, artid, imgurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="WwtxArticleImgResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wwtx_article_img
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wwtx_article_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwtx.model.WwtxArticleImg" >
    insert into wwtx_article_img (id, artid, imgurl
      )
    values (#{id,jdbcType=INTEGER}, #{artid,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wwtx.model.WwtxArticleImg" >
    insert into wwtx_article_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="artid != null" >
        artid,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="artid != null" >
        #{artid,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwtx.model.WwtxArticleImg" >
    update wwtx_article_img
    <set >
      <if test="artid != null" >
        artid = #{artid,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwtx.model.WwtxArticleImg" >
    update wwtx_article_img
    set artid = #{artid,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>