<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwtx.mapper.WwtxArticleMapper" >
  <resultMap id="WwtxArticleResultMap" type="com.wwtx.model.WwtxArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="sorttime" property="sorttime" jdbcType="TIMESTAMP" />
    <result column="istop" property="istop" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, cdate, openid, sorttime, istop
  </sql>
  <select id="selectByPrimaryKey" resultMap="WwtxArticleResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wwtx_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wwtx_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwtx.model.WwtxArticle" >
    insert into wwtx_article (id, content, cdate, 
      openid, sorttime, istop
      )
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{cdate,jdbcType=TIMESTAMP}, 
      #{openid,jdbcType=VARCHAR}, #{sorttime,jdbcType=TIMESTAMP}, #{istop,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wwtx.model.WwtxArticle" >
    insert into wwtx_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="sorttime != null" >
        sorttime,
      </if>
      <if test="istop != null" >
        istop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sorttime != null" >
        #{sorttime,jdbcType=TIMESTAMP},
      </if>
      <if test="istop != null" >
        #{istop,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwtx.model.WwtxArticle" >
    update wwtx_article
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sorttime != null" >
        sorttime = #{sorttime,jdbcType=TIMESTAMP},
      </if>
      <if test="istop != null" >
        istop = #{istop,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwtx.model.WwtxArticle" >
    update wwtx_article
    set content = #{content,jdbcType=VARCHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      openid = #{openid,jdbcType=VARCHAR},
      sorttime = #{sorttime,jdbcType=TIMESTAMP},
      istop = #{istop,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>